*::-webkit-input-placeholder {
	color: #858585;
	opacity: 1;
}
*:-moz-placeholder {
	color: #858585;
	opacity: 1;
}
*::-moz-placeholder {
	color: #858585;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #858585;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: 'Mont';
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.05em;
	color: #000;
	overflow-x: hidden;
	margin: 0;
	background-color: #fff;
}
button {
	cursor: pointer;
}
button, input, optgroup, select, textarea {
	font-family: inherit;
}
input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
button,
textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"] {
	-webkit-appearance: none;
}
a, button, input, img {
	transition: all 0.3s;
}
h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
	font-weight: normal;
}
.wrapper {
	overflow: hidden;
}
a {
	text-decoration: none;
	outline: none;
}
* {
	outline: none !important;
}
ul {
	padding: 0;
	margin: 0;
}
ul li {
	list-style-type: none;
	outline: none;
}
img {
	outline: none;
	display: block;
}
p {
	padding: 0;
	margin: 0;
}
form {
	margin: 0;
}

.header {
	font-size: 14px;
	line-height: 20px;
	padding: 32px 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	color: #fff;
	transition: all 0.5s;
}
.header.fixed {
	padding: 15px 0;
	background-color: #242424;
}
.header__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.btn-main {
	font-size: 14px;
	line-height: 20px;
	padding: 0 43px;
	height: 60px;
	letter-spacing: 0.1em;
	background: #DCEF1E;
	text-transform: uppercase;
	color: #000;
	font-weight: 700;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border: none;
	cursor: pointer;
	transition: all 0.3s;
}
.btn-main:hover {
	background: #aaba0f;
}
.logo {
	display: inline-block;
}
.logo img {
	width: 173px;
	max-width: 100%;
	height: auto;
}
.menu {
	display: flex;
	align-items: center;
}
.menu li {
	padding: 0 35px;
}
.menu a {
	font-size: 16px;
	line-height: 22px;
	padding-bottom: 3px;
	border-bottom: 2px solid transparent;
	text-transform: uppercase;
	color: #fff;
	position: relative;
	display: inline-block;
}
.menu a:hover,
.menu .active a {
	border-color: #DCEF1E;
}
.menu__haschild {
	padding-right: 20px;
	position: relative;
}
.menu__haschild::after {
	font-size: 13px;
	position: absolute;
	content: "\f078";
	top: 3px;
	right: 0;
	width: 14px;
	height: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-family: "Font Awesome 5 Pro";
	font-weight: 400;
}
.header__right {
	display: flex;
	align-items: center;
}
.phone-main {
	font-size: 16px;
	line-height: 20px;
	color: #fff;
}
.phone-main i {
	display: none;
}
.line-contacts {
	display: flex;
	align-items: center;
}
.line-contacts a:not(.phone-main) {
	font-size: 20px;
}
.line-contacts a {
	margin-right: 15px;
	color: #fff;
}
.line-contacts a:last-child {
	margin-right: 0;
}
/*Style Sandwich*/
.sandwich span {
	display: block;
}
.sandwich {
	width: 39px;
	height: 39px;
	margin-right: 40px;
	padding-top: 10px;
	border-radius: 50%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items:center;
	z-index: 20;
	flex: none;
	cursor: pointer;
}
.sw-topper {
	position: relative;
	top: 4px;
	width: 30px;
	height:  2px;
	display: block;
	margin: 0;
	background-color: #D9D9D9;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
	/* transition-delay: 0.2s, 0s; */
}
.sw-bottom {
	position: relative;
	top: 10px;
	width: 30px;
	height:  2px;
	display: block;
	margin: 0;
	background-color: #D9D9D9;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
	transition-delay: 0.2s, 0s;
}
.sw-footer {
	position: relative;
	top: 16px;
	width: 30px;
	height:  2px;
	display: block;
	margin: 0;
	background-color: #D9D9D9;
	border: medium none;
	transition: all 0.5s;
	transition-delay: 0.1s;
}
.sandwich.active .sw-topper {
	top: 9px;
	transform: rotate(45deg);
}
.sandwich.active .sw-bottom {
	opacity: 0;
}
.sandwich.active .sw-footer {
	top: 5px;
	transform: rotate(-45deg); 
}
.btn-main_white {
	height: 50px;
	padding: 0 38px;
	text-transform: none;
	color: #fff;
	border: 1px solid #858585;
	font-weight: 400;
	background-color: transparent;
}
.btn-main_white:hover {
	color: #000;
	background-color: #fff;
}
.header__right .btn-main {
	margin-left: 40px;
	flex: none;
}
.header__left {
	display: flex;
	align-items: center;
}
.header__left .logo {
	margin-right: 40px;
}
.container-fluid {
	max-width: 1680px;
}

.billbord {
	padding-top: 215px;
	min-height: 1080px;
	color: #fff;
	background-image: url(../img/billbord.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.title-billbord {
	font-size: 120px;
	line-height: 168px;
	font-weight: 700;
	letter-spacing: 0.1em;
}
.title-billbord span {
	color: #DCEF1E;
}
.list-page {
	font-size: 24px;
	line-height: 48px;
}
.list-page li {
	padding-left: 29px;
	position: relative;
}
.list-page li::before {
	position: absolute;
	display: block;
	content: " ";
	width: 17px;
	height: 17px;
	top: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	background-image: url(../img/arrow-right.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.billbord .list-page {
	padding-top: 31px;
}
.billbord .btn-main {
	margin-top: 102px;
}
.item-billbord span {
	font-size: 20px;
	line-height: 28px;
	color: #DCEF1E;
	display: block;
	font-weight: 600;
}
.bottom-billbord {
	padding-top: 160px;
}
.bottom-billbord .row > div:nth-child(2) .item-billbord {
	padding-left: 30px;
}

.services {
	padding-top: 90px;
}
.title-section {
	font-size: 36px;
	line-height: 65px;
}
.title-section sup {
	font-size: 20px;
	line-height: 0;
}
.title-section span {
	padding: 0 24px;
	font-weight: 600;
	position: relative;
}
.title-section span::before {
	position: absolute;
	display: block;
	content: " ";
	width: 470px;
	height: 93px;
	top: 0;
	left: -8px;
	bottom: 0;
	margin: auto;
	background-image: url(../img/circle_title1.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
}
.services .title-section {
	padding-bottom: 92px;
	max-width: 1015px;
}
.service-block {
	padding: 62px 94px;
	padding-bottom: 51px;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background: #F7F7F7;
}
.title-middle {
	font-size: 30px;
	line-height: 42px;
}
.service-block .title-middle {
	max-width: 370px;
	padding-bottom: 15px;
}
.service-block ul {
	padding-bottom: 46px;
	width: 100%;
}
.service-block li {
	padding: 20px;
	color: #858585;
	border-bottom: 1px solid #D1CECE;
	position: relative;
}
.service-block li a {
	color: #858585;
}
.service-block li::before {
	content: "•";
	top: 0px;
	bottom: 0;
	left: 0px;
	margin: auto;
	display: flex;
	align-items: center;
	position: absolute;
}
.btn-more {
	font-size: 14px;
	line-height: 20px;
	color: #000;
	display: inline-flex;
	align-items: center;
}
.icon-btn {
	width: 40px;
	height: 40px;
	font-size: 16px;
	border-radius: 50%;
	margin-left: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex: none;
	background: #DCEF1E;
	transition: all 0.3s;
}
.btn-more:hover .icon-btn {
	background: #aaba0f;
}
.service-block .btn-more {
	margin-top: auto;
}

.portfolio {
	padding-top: 90px;
}
.portfolio .title-section {
	padding-bottom: 44px;
	max-width: 1000px;
	margin: 0 auto;
	text-align: center;
}
.title-section strong {
	font-weight: 600;
	padding-bottom: 3px;
	border-bottom: 3px solid #DCEF1E;
}
.line-top {
	margin-bottom: 37px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.line-top::after {
	position: relative;
	display: block;
	content: " ";
	flex: 1;
	height: 1px;
	margin: 0 33px;
	background-color: #000;
}
.line-top .btn-more {
	order: 2;
}
.portfolio .line-top {
	margin-bottom: 64px;
}
.portfolio-wrapper {
	padding-top: 65px;
	padding-bottom: 0;
	color: #fff;
	background: #3C3C3C;
}
.item-portfolio {
	margin-bottom: 55px;
	display: block;
	color: #fff;
}
.item-portfolio__image {
	height: 260px;
	margin-bottom: 24px;
	display: block;
	overflow: hidden;
	width: 100%;
}
.item-portfolio__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	transition: all 1s;
}
.item-portfolio__bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.item-portfolio__title {
	font-size: 20px;
	line-height: 28px;
	display: block;
}
.item-portfolio__link {
	font-size: 14px;
	line-height: 20px;
	color: #fff;
	flex: none;
	display: inline-flex;
	align-items: center;
	transition: all 0.5s;
	opacity: 0;
}
.item-portfolio__link i {
	margin-left: 20px;
	color: #DCEF1E;
}
.item-portfolio:hover .item-portfolio__image img {
	transform: scale(1.1);
}
.item-portfolio:hover .item-portfolio__link {
	opacity: 1;
}
.row_portfolio .col-lg-5 .item-portfolio {
	margin-right: -35px;
}
.row_portfolio .col-lg-7 .item-portfolio {
	margin-left: 88px;
}
.row_portfolio .col-lg-7 .item-portfolio__image {
	height: 624px;
}
.discuss {
	padding-top: 100px;
	padding-bottom: 46px;
}
.image-phone img {
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}
.image-phone {
	right: -25px;
	position: relative;
}
.discuss__content {
	padding-top: 110px;
	margin-right: -55px;
}
.discuss__content .title-middle {
	padding-bottom: 42px;
}
.discuss .title-section {
	max-width: 595px;
	margin-bottom: -30px;
}
.list-main li {
	padding: 23px 15px;
	padding-right: 0px;
	color: #858585;
	border-bottom: 1px solid #D1CECE;
	position: relative;
}
.list-main li a {
	color: #858585;
}
.list-main li::before {
	content: "•";
	top: 20px;
	left: 0px;
	margin: auto;
	position: absolute;
}
.image-consult {
	width: 64px;
	height: 64px;
	margin-top: 10px;
	margin-bottom: 18px;
	border-radius: 50%;
	position: relative;
}
.image-consult img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
}
.image-consult::after {
	position: absolute;
	display: block;
	content: " ";
	width: 9px;
	height: 9px;
	background: #71D011;
	border: 2px solid #FFFFFF;
	border-radius: 50%;
	right: 8px;
	bottom: 2px;
}
.title-small {
	font-size: 24px;
	line-height: 34px;
}
.discuss__right .title-small {
	padding-bottom: 42px;
	max-width: 450px;
}
.descr-form {
	color: #858585;
}
.discuss__right .descr-form {
	max-width: 474px;
	padding-bottom: 25px;
}
.social-list {
	display: flex;
	align-items: center;
}
.social-list li {
	margin-right: 29px;
}
.social-list li:last-child {
	margin-right: 0;
}
.social-list a {
	width: 35px;
	height: 35px;
	font-size: 21px;
	color: #000;
	flex: none;
	border-radius: 50%;
	background: #DCEF1E;
	display: flex;
	align-items: center;
	justify-content: center;
}
.discuss__right .social-list {
	margin-bottom: 53px;
}
.line-form {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.item-form input {
	height: 60px;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.05em;
	font-weight: 400;
	border: none;
	background-color: transparent;
	border-bottom: 1px solid #D1CECE;
	width: 100%;
	font-family: 'Mont';
	color: #000;
}
.line-form .item-form {
	margin-right: 39px;
	flex: 1;
}
.checkbox {
	font-size: 12px;
	line-height: 16px;
	margin-top: 30px;
	color: #D1CECE;
	font-weight: 400;
	letter-spacing: normal;
	display: flex;
	text-align: left;
	font-family: 'Open Sans';
}
.checkbox label input {
	position: absolute;
	z-index: -1;
	height: 1px !important;
	width: 1px !important;
	opacity: 0 !important;
	margin: 12px 2px 0 7px !important;
}
.checkbox label > span {
	position: relative;
	padding: 5px 0 0 28px;
	display: block;
	cursor: pointer;
}
.checkbox label > span:before {
	content: '';
	position: absolute;
	top: 2px;
	left: 0;
	width: 19px;
	height: 19px;
	border: 1px solid #D9D9D9;
	transition: .2s;
}
.checkbox label > span:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 0px;
	width: 19px;
	height: 19px;
	content: "\f00c";
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-family: "Font Awesome 5 Pro";
	font-weight: 500;
	background-image: none;
	color: #D9D9D9;
	font-size: 9px;
	opacity: 0;
	transition: .2s;
}
.checkbox label input:checked + span:after {
	opacity: 1;
}
.discuss__content .title-small {
	max-width: 500px;
}
.discuss .title-section span::before {
	width: 414px;
	height: 91px;
	left: 0;
}

.instagram {
	padding: 58px 0;
	background: #F7F7F7;
}
.instagram .descr-section,
.instagram .title-section {
	text-align: center;
}
.descr-section {
	padding-bottom: 30px;
	color: #858585;
}
.item-insta {
	display: inline-block;
}
.item-insta img {
	max-width: 100%;
	height: auto;
}
.row_instagram > div {
	margin-bottom: 15px;
}

.contacts .container {
	position: relative;
}
.contacts-block {
	width: 342px;
	height: 500px;
	font-size: 14px;
	line-height: 20px;
	padding: 38px 38px;
	padding-bottom: 10px;
	left: 15px;
	color: #fff;	
	background: #3B3B3B;
	position: absolute;
	z-index: 2;
}
#map {
	height: 500px;
	width: 100%;
	background-color: #ccc;
}
.contacts-block__title {
	padding-bottom: 15px;
	padding-top: 29px;
	font-weight: 700;
}
.contacts-block__title:first-of-type {
	padding-top: 0;
}
.contacts-block p a {
	color: #fff;
}
.contacts-block .btn-main {
	margin-top: 50px;
	padding: 0;
	width: 100%;
}

.footer {
	font-size: 14px;
	line-height: 20px;
	padding-top: 38px;
	color: #fff;
	background-color: #000;
}
.logo-descr {
	font-size: 13px;
	line-height: 18px;
	padding-top: 20px;
	max-width: 186px;
}
.footer p a {
	color: #fff;
}
.footer__nav li {
	margin-bottom: 20px;
}
.footer__nav a {
	color: #fff;
	border-bottom: 1px solid transparent;
}
.footer__nav a:hover {
	border-color: inherit;
}
.footer__nav_big a,
.footer__title {
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 20px;
	color: #DCEF1E;
	font-weight: 700;
}
.footer__nav_big a {
	margin: 0;
}
.col_pl {
	padding-left: 0;
}
.col_nav {
	padding-left: 55px;
}
.footer-bottom {
	padding: 10px 0;
	margin-top: 40px;
color: #CECECE;
border-top: 1px solid #3B3B3B;
}
.create {
	display: flex;
	align-items: center;
}
.create a {
	margin-left: 15px;
} 
.footer-bottom a {
	color: #CECECE;
}
.footer-bottom a:hover {
	color: #CECECE;
}
.footer .logo {
	margin-top: -15px;
}
.btn_top {
	font-size: 18px;
	margin-right: 20px;
	float: right;
	position: relative;
	color: #000 !important; 
	width: 40px;
	height: 40px;
	text-align: center;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex !important;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: #DCEF1E;
	z-index: 7;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.btn_top:hover {
	background: #aaba0f;
}
.footer__title i {
	display: none;
}
.sandwich_menu {
	display: none;
}